{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<img class="login-logo" src="{% static 'images/Logos/03_LOGO_RTS.png' %}" alt="Logo" class="login-logo">
<body>
<h2>Login</h2>
<div class="login-container">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" required>
        <label>Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
</div>
{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}
<a href="{% url 'register' %}">Register</a>
</body>